<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

<f:layout name="Content" />

    <f:section name="Configuration">

    <flux:form id="teufelsCptCntBsColthree"
               label="TYPO3 :: Bootstrap :: 3 Spalten"
               options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">

        <flux:form.sheet name="smartphone" label="Smartphone" description="" shortDescription="Display options for large smartphone">
            <f:render section="GridPreview"
                      arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg}" />
            <flux:field.custom name="customXs">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-xs.png')}"/>
                </div>
            </flux:field.custom>
            <v:variable.set name="col-xs">col-xs-12</v:variable.set>
            <flux:field.select name="visibility-xs"
                               label="Visibility on smartphone"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on Smartphone',1:'visible-xs'},
                               2:{0:'Hide on Smartphone',1:'hidden-xs'}
                               }"
                    />
        </flux:form.sheet>

        <flux:form.sheet name="tablet" label="Tablet" description="" shortDescription="Display options for tablet">
            <f:render section="GridPreview"
                      arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg}" />
            <flux:field.custom name="customSm">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-sm.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-sm" label="Use Offset on tablet" default="NULL" requestUpdate="1"/>
                <flux:field.select name="col-sm"
                                   label="Width of columns on tablet"
                                   default=""
                                   requestUpdate="1"
                                   items="{
                                   0:{0:'--',1:''},
                                   1:{0:'All Columns 100%',1:'col-100'},
                                   2:{0:'Columns 33%',1:'col-33'}
                                   3:{0:'Columns 50%|25%|25%',1:'col-50-25-25'}
                                   4:{0:'Columns 25%|25%|50%',1:'col-25-25-50'}
                                   5:{0:'Columns 25%|50%|25%',1:'col-25-50-25'}
                                   }"
                        />
                <f:if condition="{col-sm} == 'col-100'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-12</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-12</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-12</v:variable.set>

                    </f:then>
                </f:if>
                <f:if condition="{col-sm} == 'col-33'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-4</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-4</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-4</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-sm} == 'col-50-25-25'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-6</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-sm} == 'col-25-25-50'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-6</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-sm} == 'col-25-50-25'">
                    <f:then>
                        <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                        <v:variable.set name="col-sm2">col-sm-6</v:variable.set>
                        <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
                    </f:then>
                </f:if>
            <flux:field.select name="visibility-sm"
                               label="Visibility on tablet"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on tablet',1:'visible-sm'},
                               2:{0:'Hide on tablet',1:'hidden-sm'}
                               }"
                    />
        </flux:form.sheet>

        <flux:form.sheet name="desktop" label="Desktop" description="" shortDescription="Display options for desktop">
            <f:render section="GridPreview"
                      arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg}" />
            <flux:field.custom name="customMd">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-md.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-md" label="Use Offset on desktop" default="NULL" requestUpdate="1"/>
                <flux:field.select name="col-md"
                                   label="Width of columns on dektop"
                                   default=""
                                   requestUpdate="1"
                                   items="{
                                   0:{0:'--',1:''},
                                   1:{0:'All Columns 100%',1:'col-100'},
                                   2:{0:'Columns 33%',1:'col-33'}
                                   3:{0:'Columns 50%|25%|25%',1:'col-50-25-25'}
                                   4:{0:'Columns 25%|25%|50%',1:'col-25-25-50'}
                                   5:{0:'Columns 25%|50%|25%',1:'col-25-50-25'}
                                   }"
                        />
                <f:if condition="{col-md} == 'col-100'">
                    <f:then>
                        <v:variable.set name="col-md">col-md-12</v:variable.set>
                        <v:variable.set name="col-md2">col-md-12</v:variable.set>
                        <v:variable.set name="col-md3">col-md-12</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-md} == 'col-33'">
                    <f:then>
                        <v:variable.set name="col-md">col-md-4</v:variable.set>
                        <v:variable.set name="col-md2">col-md-4</v:variable.set>
                        <v:variable.set name="col-md3">col-md-4</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-md} == 'col-50-25-25'">
                    <f:then>
                        <v:variable.set name="col-md">col-md-6</v:variable.set>
                        <v:variable.set name="col-md2">col-md-3</v:variable.set>
                        <v:variable.set name="col-md3">col-md-3</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-md} == 'col-25-25-50'">
                    <f:then>
                        <v:variable.set name="col-md">col-md-3</v:variable.set>
                        <v:variable.set name="col-md2">col-md-3</v:variable.set>
                        <v:variable.set name="col-md3">col-md-6</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-md} == 'col-25-50-25'">
                    <f:then>
                        <v:variable.set name="col-md">col-md-3</v:variable.set>
                        <v:variable.set name="col-md2">col-md-6</v:variable.set>
                        <v:variable.set name="col-md3">col-md-3</v:variable.set>
                    </f:then>
                </f:if>
            <flux:field.select name="visibility-md"
                               label="Visibility on desktop"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on desktop',1:'visible-md'},
                               2:{0:'Hide on desktop',1:'hidden-md'}
                               }"
                    />
        </flux:form.sheet>

        <flux:form.sheet name="largedesktop" label="Large desktop" description="" shortDescription="Display options for large desktop">
            <f:render section="GridPreview"
                      arguments="{col-xs: col-xs, visibility-xs: visibility-xs, col-sm: col-sm, offset-sm: offset-sm, visibility-sm: visibility-sm, col-md: col-md, offset-md: offset-md, visibility-md: visibility-md, col-lg: col-lg, offset-lg: offset-lg, visibility-lg: visibility-lg}" />
            <flux:field.custom name="customLg">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-lg.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-lg" label="Use Offset on large desktop" default="NULL" requestUpdate="1"/>
                <flux:field.select name="col-lg"
                                   label="Width of columns on large desktop"
                                   default=""
                                   requestUpdate="1"
                                   items="{
                                   0:{0:'--',1:''},
                                   1:{0:'All Columns 100%',1:'col-100'},
                                   2:{0:'Columns 33%',1:'col-33'}
                                   3:{0:'Columns 50%|25%|25%',1:'col-50-25-25'}
                                   4:{0:'Columns 25%|25%|50%',1:'col-25-25-50'}
                                   5:{0:'Columns 25%|50%|25%',1:'col-25-50-25'}
                                   }"
                        />
                <f:if condition="{col-lg} == 'col-100'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-12</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-12</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-12</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-lg} == 'col-33'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-4</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-4</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-4</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-lg} == 'col-50-25-25'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-6</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-lg} == 'col-25-25-50'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-6</v:variable.set>
                    </f:then>
                </f:if>
                <f:if condition="{col-lg} == 'col-25-50-25'">
                    <f:then>
                        <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                        <v:variable.set name="col-lg2">col-lg-6</v:variable.set>
                        <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
                    </f:then>
                </f:if>
            <flux:field.select name="visibility-lg"
                               label="Visibility on large desktop"
                               default=""
                               items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on large desktop',1:'visible-lg'},
                               2:{0:'Hide on large desktop',1:'hidden-lg'}
                               }"
                    />
        </flux:form.sheet>


        <flux:grid>
            <flux:grid.row>
                <flux:grid.column name="col0" label="Column Left <br><code>{col-xs}</code><code>{col-sm}</code><code>{col-md}</code><code>{col-lg}</code>" style="width:33.333333333%;" />
                <flux:grid.column name="col1" label="Column Middle Left<br><code>{col-xs}</code><code>{col-sm2}</code><code>{col-md2}</code><code>{col-lg2}</code>" style="width:33.333333333%;" />
                <flux:grid.column name="col2" label="Column Middle Right<br><code>{col-xs}</code><code>{col-sm3}</code><code>{col-md3}</code><code>{col-lg3}</code>" style="width:33.333333333%;" />
            </flux:grid.row>
        </flux:grid>

    </flux:form>
    </f:section>

    <f:section name="Preview">

    </f:section>

    <f:section name="Main">

        <v:variable.set name="col-xs">col-xs-12</v:variable.set>

        <f:if condition="{col-sm} == 'col-100'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-12</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-12</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-33'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-4</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-4</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-4</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-50-25-25'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-6</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-25-25-50'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-25-50-25'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-6</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
            </f:then>
        </f:if>

        <f:if condition="{col-md} == 'col-100'">
            <f:then>
                <v:variable.set name="col-md">col-md-12</v:variable.set>
                <v:variable.set name="col-md2">col-md-12</v:variable.set>
                <v:variable.set name="col-md3">col-md-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-33'">
            <f:then>
                <v:variable.set name="col-md">col-md-4</v:variable.set>
                <v:variable.set name="col-md2">col-md-4</v:variable.set>
                <v:variable.set name="col-md3">col-md-4</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-50-25-25'">
            <f:then>
                <v:variable.set name="col-md">col-md-6</v:variable.set>
                <v:variable.set name="col-md2">col-md-3</v:variable.set>
                <v:variable.set name="col-md3">col-md-3</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-25-25-50'">
            <f:then>
                <v:variable.set name="col-md">col-md-3</v:variable.set>
                <v:variable.set name="col-md2">col-md-3</v:variable.set>
                <v:variable.set name="col-md3">col-md-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-25-50-25'">
            <f:then>
                <v:variable.set name="col-md">col-md-3</v:variable.set>
                <v:variable.set name="col-md2">col-md-6</v:variable.set>
                <v:variable.set name="col-md3">col-md-3</v:variable.set>
            </f:then>
        </f:if>

        <f:if condition="{col-lg} == 'col-100'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-12</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-12</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-33'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-4</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-4</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-4</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-50-25-25'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-6</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-25-25-50'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-25-50-25'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-6</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
            </f:then>
        </f:if>


        <v:variable.set name="classes_col_0" value="{col-xs} {col-sm} {col-md} {col-lg}" />
        <v:variable.set name="classes_col_1" value="{col-xs} {col-sm2} {col-md2} {col-lg2}" />
        <v:variable.set name="classes_col_2" value="{col-xs} {col-sm3} {col-md3} {col-lg3}" />


        <div class="row {visibility-xs} {visibility-sm} {visibility-md} {visibility-lg}">
            <div class="col-xs-12 {f:if(condition: offset-sm, then: 'col-sm-offset-1 col-sm-10', else: 'col-sm-offset-0 col-sm-12')} {f:if(condition: offset-md, then: 'col-md-offset-1 col-md-10', else: 'col-md-offset-0 col-md-12')} {f:if(condition: offset-lg, then: 'col-lg-offset-1 col-lg-10', else: 'col-lg-offset-0 col-lg-12')}">
                <div class="row">
                    <div class="{classes_col_0}">
                        <flux:content.render area="col0" />
                    </div>
                    <div class="{classes_col_1}">
                        <flux:content.render area="col1" />
                    </div>
                    <div class="{classes_col_2}">
                        <flux:content.render area="col2" />
                    </div>
                </div>
            </div>
        </div>

    </f:section>

    <f:section name="GridPreview">

        <v:variable.set name="col-xs">col-xs-12</v:variable.set>

        <f:if condition="{col-sm} == 'col-100'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-12</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-12</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-33'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-4</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-4</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-4</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-50-25-25'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-6</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-25-25-50'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-sm} == 'col-25-50-25'">
            <f:then>
                <v:variable.set name="col-sm">col-sm-3</v:variable.set>
                <v:variable.set name="col-sm2">col-sm-6</v:variable.set>
                <v:variable.set name="col-sm3">col-sm-3</v:variable.set>
            </f:then>
        </f:if>

        <f:if condition="{col-md} == 'col-100'">
            <f:then>
                <v:variable.set name="col-md">col-md-12</v:variable.set>
                <v:variable.set name="col-md2">col-md-12</v:variable.set>
                <v:variable.set name="col-md3">col-md-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-33'">
            <f:then>
                <v:variable.set name="col-md">col-md-4</v:variable.set>
                <v:variable.set name="col-md2">col-md-4</v:variable.set>
                <v:variable.set name="col-md3">col-md-4</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-50-25-25'">
            <f:then>
                <v:variable.set name="col-md">col-md-6</v:variable.set>
                <v:variable.set name="col-md2">col-md-3</v:variable.set>
                <v:variable.set name="col-md3">col-md-3</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-25-25-50'">
            <f:then>
                <v:variable.set name="col-md">col-md-3</v:variable.set>
                <v:variable.set name="col-md2">col-md-3</v:variable.set>
                <v:variable.set name="col-md3">col-md-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-md} == 'col-25-50-25'">
            <f:then>
                <v:variable.set name="col-md">col-md-3</v:variable.set>
                <v:variable.set name="col-md2">col-md-6</v:variable.set>
                <v:variable.set name="col-md3">col-md-3</v:variable.set>
            </f:then>
        </f:if>

        <f:if condition="{col-lg} == 'col-100'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-12</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-12</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-12</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-33'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-4</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-4</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-4</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-50-25-25'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-6</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-25-25-50'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-6</v:variable.set>
            </f:then>
        </f:if>
        <f:if condition="{col-lg} == 'col-25-50-25'">
            <f:then>
                <v:variable.set name="col-lg">col-lg-3</v:variable.set>
                <v:variable.set name="col-lg2">col-lg-6</v:variable.set>
                <v:variable.set name="col-lg3">col-lg-3</v:variable.set>
            </f:then>
        </f:if>

        <f:if condition="{visibility-xs} == 'visible-xs'">
            <v:variable.set name="visible-xs-class" value="show" />
            <f:if condition="{visibility-sm} != 'visible-sm'">
                <v:variable.set name="visible-sm-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-md} != 'visible-md'">
                <v:variable.set name="visible-md-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-lg} != 'visible-lg'">
                <v:variable.set name="visible-lg-class" value="hide" />
            </f:if>
        </f:if>

        <f:if condition="{visibility-sm} == 'visible-sm'">
            <v:variable.set name="visible-sm-class" value="show" />
            <f:if condition="{visibility-xs} != 'visible-xs'">
                <v:variable.set name="visible-xs-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-md} != 'visible-md'">
                <v:variable.set name="visible-md-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-lg} != 'visible-lg'">
                <v:variable.set name="visible-lg-class" value="hide" />
            </f:if>
        </f:if>

        <f:if condition="{visibility-md} == 'visible-md'">
            <v:variable.set name="visible-md-class" value="show" />
            <f:if condition="{visibility-xs} != 'visible-xs'">
                <v:variable.set name="visible-xs-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-sm} != 'visible-sm'">
                <v:variable.set name="visible-sm-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-lg} != 'visible-lg'">
                <v:variable.set name="visible-lg-class" value="hide" />
            </f:if>
        </f:if>

        <f:if condition="{visibility-lg} == 'visible-lg'">
            <v:variable.set name="visible-lg-class" value="show" />
            <f:if condition="{visibility-xs} != 'visible-xs'">
                <v:variable.set name="visible-xs-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-sm} != 'visible-sm'">
                <v:variable.set name="visible-sm-class" value="hide" />
            </f:if>
            <f:if condition="{visibility-md} != 'visible-md'">
                <v:variable.set name="visible-md-class" value="hide" />
            </f:if>
        </f:if>

        <f:if condition="{visibility-xs} == 'hidden-xs'">
            <v:variable.set name="visible-xs-class" value="hide" />
        </f:if>
        <f:if condition="{visibility-sm} == 'hidden-sm'">
            <v:variable.set name="visible-sm-class" value="hide" />
        </f:if>
        <f:if condition="{visibility-md} == 'hidden-md'">
            <v:variable.set name="visible-md-class" value="hide" />
        </f:if>
        <f:if condition="{visibility-lg} == 'hidden-lg'">
            <v:variable.set name="visible-lg-class" value="hide" />
        </f:if>

        <flux:field.custom name="customPreview">
            <style>
                div.l .col-xs-12,
                div.l .col-sm-12,
                div.l .col-md-12,
                div.l .col-lg-12 {
                    width: 100%;
                }
                div.l .col-xs-11,
                div.l .col-sm-11,
                div.l .col-md-11,
                div.l .col-lg-11 {
                    width: 91.66666667%;
                }
                div.l .col-xs-10,
                div.l .col-sm-10,
                div.l .col-md-10,
                div.l .col-lg-10 {
                    width: 83.33333333%;
                }
                div.l .col-xs-9,
                div.l .col-sm-9,
                div.l .col-md-9,
                div.l .col-lg-9 {
                    width: 75%;
                }
                div.l .col-xs-8,
                div.l .col-sm-8,
                div.l .col-md-8,
                div.l .col-lg-8 {
                    width: 66.66666667%;
                }
                div.l .col-xs-7,
                div.l .col-sm-7,
                div.l .col-md-7,
                div.l .col-lg-7 {
                    width: 58.33333333%;
                }
                div.l .col-xs-6,
                div.l .col-sm-6,
                div.l .col-md-6,
                div.l .col-lg-6 {
                    width: 50%;
                }
                div.l .col-xs-5,
                div.l .col-sm-5,
                div.l .col-md-5,
                div.l .col-lg-5 {
                    width: 41.66666667%;
                }
                div.l .col-xs-4,
                div.l .col-sm-4,
                div.l .col-md-4,
                div.l .col-lg-4 {
                    width: 33.33333333%;
                }
                div.l .col-xs-3,
                div.l .col-sm-3,
                div.l .col-md-3,
                div.l .col-lg-3 {
                    width: 25%;
                }
                div.l .col-xs-2,
                div.l .col-sm-2,
                div.l .col-md-2,
                div.l .col-lg-2 {
                    width: 16.66666667%;
                }
                div.l .col-xs-1,
                div.l .col-sm-1,
                div.l .col-md-1,
                div.l .col-lg-1 {
                    width: 8.33333333%;
                }
                div.l .col-xs-offset-1,
                div.l .col-sm-offset-1,
                div.l .col-md-offset-1,
                div.l .col-lg-offset-1 {
                    margin-left: 8.33333333%;
                }
                .smartphone {
                    display: inline-block;
                    width: 10%;
                }
                .tablet {
                    display: inline-block;
                    width: 20%;
                }
                .desktop {
                    display: inline-block;
                    width: 30%;
                }
                .large_desktop {
                    display: inline-block;
                    width: 38%;
                }
                .show {
                    border: 1px solid;
                    height: 100px;
                    padding: 3%;
                    float: left;
                    width: 100%;
                }
                .show div {
                    background: #000;
                    border: 1px solid #fff;
                    height: 20px;
                    float: left;
                }
                .show.hide div {
                    background: rgba(0,0,0,0.5);
                }
            </style>

            <div class="l">
                <div class="smartphone">
                    <p>Smartphone:</p>
                    <div class="show {visible-xs-class}">
                        <f:if condition="{col-xs}">
                            <div class="{col-xs}"></div>
                            <div class="{col-xs}"></div>
                        </f:if>
                    </div>
                </div>
                <div class="tablet">
                    <p>Tablet:</p>

                    <div class="show {visible-sm-class}">
                        <f:if condition="{col-sm}">
                            <f:then>
                                <div class="{col-sm}{f:if(condition: offset-sm, then: ' col-sm-offset-1', else: '')}"></div>
                                <div class="{col-sm2}"></div>
                                <div class="{col-sm3}"></div>
                            </f:then>
                            <f:else>
                                <div class="{col-xs}"></div>
                                <div class="{col-xs}"></div>
                                <div class="{col-xs}"></div>
                            </f:else>
                        </f:if>
                    </div>
                </div>
                <div class="desktop">
                    <p>Desktop:</p>

                    <div class="show {visible-md-class}">
                        <f:if condition="{col-md}">
                            <f:then>
                                <div class="{col-md}{f:if(condition: offset-md, then: ' col-md-offset-1', else: '')}"></div>
                                <div class="{col-md2}"></div>
                                <div class="{col-md3}"></div>
                            </f:then>
                            <f:else>
                                <div class="{col-sm}{f:if(condition: offset-sm, then: ' col-sm-offset-1', else: '')}"></div>
                                <div class="{col-sm2}"></div>
                                <div class="{col-sm3}"></div>
                            </f:else>
                        </f:if>
                    </div>
                </div>
                <div class="large_desktop">
                    <p>Large desktop:</p>

                    <div class="show {visible-lg-class}">
                        <f:if condition="{col-lg}">
                            <f:then>
                                <div class="{col-lg}{f:if(condition: offset-lg, then: ' col-lg-offset-1', else: '')}"></div>
                                <div class="{col-lg2}"></div>
                                <div class="{col-lg3}"></div>
                            </f:then>
                            <f:else>
                                <div class="{col-md}{f:if(condition: offset-md, then: ' col-md-offset-1', else: '')}"></div>
                                <div class="{col-md2}"></div>
                                <div class="{col-md3}"></div>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </flux:field.custom>
    </f:section>

</div>
